@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: url(https://media.urgente24.com/p/e94a32fa9bc25a9f5995c58c5af7b554/adjuntos/319/imagenes/002/605/0002605503/seleccion-argentina.jpg)
    no-repeat center/cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem;
  box-shadow: 1px 0px 25px 13px rgba(0, 0, 0, 0.75);

  backdrop-filter: blur(4px) saturate(167%);
  -webkit-backdrop-filter: blur(4px) saturate(167%);
  background-color: rgba(17, 25, 40, 0.78);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  transition: all 0.5s ease;

  overflow: hidden; /*para que la luz solo se vea en la card*/
}

.card-header img {
  height: 200px;
  border-radius: 5px;
}
h1 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-top: 1rem;
}

h2 {
  font-size: 1.3rem;
  color: #ffffff9e;
  margin-bottom: 0.5rem;
}

p {
  color: #ffffff5b;
  font-size: 0.8rem;
}

.card:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #0000008a;
  transform: scale(1.01);
  transition: all 0.5s ease;
}

/* Luz espejada */

.card::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff5e;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}

.card:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}
